body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

h1 {
    text-align: center;
}


.the-form {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    margin: auto;
}
.form-field {
    margin: .5rem 0;
}

.form-field > * {
    margin: .2rem 0;
}

thead th.MuiTableCell-head {
    font-weight: bold;
}